
<!doctype html>
<html>
<head>
    <%- include("./comp_head.html")%>
</head>
<body>
     <%- include("./comp_header.html")%>	
     <%- include("./comp_nav.html")%> 

    <main class="clear">
        <div class="mainLeft">
            
            <% if (articles && articles.length > 0) { %>
                <% articles.forEach(function(article) { %>
                <div class="listBox">
                    <h1><%= article.title %></h1>
                    <p class="colDefault">
                        作者：<span class="colInfo"><%= article.author ? article.author.username : '未知' %></span> - 
                        时间：<span class="colInfo"><%= new Date(article.createTime).toLocaleString('zh-CN', {year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'}) %></span> - 
                        阅读：<span class="colInfo"><%= article.views || 0 %></span> - 
                        评论：<span class="colInfo" id="comment-<%= article._id %>">加载中...</span>
                    </p>
                    <dfn><%- article.content.length > 200 ? article.content.substring(0, 200) + '...' : article.content %></dfn>
                    <div class="function"><a href="/detail?id=<%= article._id %>">阅读全文</a></div>
                </div>
                <% }); %>
            <% } else { %>
                <div class="listBox">
                    <h1>暂无文章</h1>
                    <p class="colDefault">目前还没有发布任何文章</p>
                </div>
            <% } %>
            

            <% if (pages > 0) { %>
            <div class="pager">
            	<ul class="clear">
            		<li class="previous">
            		<% if (page <= 1) { %>
            			<a href="javascript:;">没有上一页了</a>
            		<% } else { %>
            			<a href="/<%= page-1 %>">上一页</a>
            		<% } %>
            		</li>

            		<li>
            			<strong><%= page %> / <%= pages %></strong>
            		</li>

            		<li class="next">
            		<% if (page >= pages) { %>
            			<a href="javascript:;">没有下一页了</a>
            		<% } else { %>
            			<a href="/<%= page+1 %>">下一页</a>
            		<% } %>
            		</li>
            	</ul>
            </div>
            <% } %>
        </div>
        <%- include("./comp_sidebar.html", { userInfo: userInfo }) %>
    </main>

	<%- include("./comp_footer.html")%>
<script src="/js/index.js"></script>
</body>
</html>