<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">控制面板</h1>
</div>

<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="card-title">用户总数</h6>
                        <h2 class="mb-0">125</h2>
                    </div>
                    <i class="fa fa-users fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-white bg-success">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="card-title">文章总数</h6>
                        <h2 class="mb-0">56</h2>
                    </div>
                    <i class="fa fa-file-text fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-white bg-warning">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="card-title">评论总数</h6>
                        <h2 class="mb-0">243</h2>
                    </div>
                    <i class="fa fa-comments fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-white bg-danger">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="card-title">分类总数</h6>
                        <h2 class="mb-0">8</h2>
                    </div>
                    <i class="fa fa-folder fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</div>